.all-tasks-container{
  max-width:700px;
  margin:auto;
}

/* Header */

.header h2{
  margin:0;
  font-size:28px;
}

.header p{
  color:#64748b;
  margin-top:5px;
}

/* Card */

.Tasks-section{
  margin-top:25px;
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

/* Input area */

.user-input{
  display:flex;
  gap:10px;
  margin-bottom:20px;
  justify-content: center;
  align-items: center;
  
}

.user-input input{
  flex:1;
  padding:12px;
  border-radius:8px;
  border:1px solid #e2e8f0;
  font-size:14px;
}

.user-input input:focus{
  outline:none;
  border-color:#1e293b;
}

/* Add button */

.user-input button{
  width:40px;
  border:none;
  border-radius:8px;
  background: #1e293b;
  color:white;
  font-size:20px;
  cursor:pointer;
  transition:0.2s;
}

.user-input button:hover{
  background:#1e293b;
}

/* Tasks list */

.tasks{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.task-item{
  background:#f8fafc;
  padding:12px 15px;
  border-radius:8px;
  border:1px solid #e2e8f0;
  transition:0.2s;
  align-items: center;
}

.task-item:hover{
  background:#f1f5f9;
}

.task-item-button{
  color: #fff;
  background-color: #ca0606;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ca0606;
  border-radius: 10px;
}

.task-item-button-edit{
   color: #fff;
  background-color: #064bca;
  padding: 5px 10px 5px 10px;
  border: 1px solid #064bca;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.task-coounter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.grey{
  padding: 20px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: 20px;
}

.red{
  padding: 20px;
  margin: 10px;
  border: 1px solid #f30e0e;
  border-radius: 20px;
}

.green{
  padding: 20px;
  margin: 10px;
  border: 1px solid #13d70f;
  border-radius: 20px;
}