.all-tasks-container{
  max-width:700px;
  margin:auto;
}

/* Header */

.header h2{
  margin:0;
  font-size:28px;
}

.header p{
  color:#64748b;
  margin-top:5px;
}

/* Card */

.tasks-section {
  margin-top:25px;
  background:white;
  padding:25px;
  border-radius:16px;
  box-shadow:0 15px 40px rgba(0,0,0,0.08);
}

/* Input area */

.user-input{
  display:flex;
  gap:10px;
  margin-bottom:20px;
  justify-content: center;
  align-items: center;
  
}

.user-input input {
  flex:1;
  padding:12px 16px;
  border-radius:10px;
  border:1px solid #e2e8f0;
  font-size:14px;
}

.user-input input:focus{
  outline:none;
  border-color:#1e293b;
}

/* Add button */

.user-input button {
  width:45px;
  height:45px;
  border-radius:10px;
  font-size:22px;
}

.user-input button:hover{
  background:#d6d6d6;
}

/* Tasks list */

.tasks{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.task-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background:#f8fafc;
  padding:12px 15px;
  border-radius:8px;
  border:1px solid #e2e8f0;
  transition:0.2s;
  align-items: center;
}

.task-item:hover{
  background:#f1f5f9;
  transform: translateY(-2px);
}

.task-item-button,
.task-item-button-edit {
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.task-item-button:hover {
  opacity: 0.8;
}

.task-item-button-edit:hover {
  opacity: 0.8;
}

.task-counter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.grey{
  padding: 20px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: 20px;
}

.red{
  padding: 20px;
  margin: 10px;
  border: 1px solid #f30e0e;
  border-radius: 20px;
}

.green{
  padding: 20px;
  margin: 10px;
  border: 1px solid #13d70f;
  border-radius: 20px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.item-checkbox {
  width: 18px;
  height: 18px;
  accent-color: #1e293b;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #94a3b8;
}